@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2px;
    text-align:left;
    background: #fcfcfc;
}
.menu{
    font-family: oswald,sans-serif;
}
.logo{
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background-color: lightgreen;
    margin: 10px;
}

header{
    margin: -15px;
    display: flex;
    position: relative;
    width:absolute;
    justify-content: space-between;
    background-color: rgb(147, 189, 108);
}

ul{
    display: flex;
    margin: 23px;
    justify-content: space-between;
}
li{
    color: rgb(66, 218, 66);
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}
a{
    color: lightgreen;
    text-decoration: none;
}
ul a:hover{
    color: rgb(91, 122, 91);
}
.container{
    padding:0px 50px;
}
.center{
    text-align: center;
}
.texto{
line-height: 20px;

}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;}