@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    padding: 2px;
    text-align:left;
    background-color: aliceblue;
}
.menu{
    font-family: oswald,sans-serif;
}
.logo{
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background-color: lightgreen;
    margin: 10px;
}

header{
    margin: -15px;
    display: flex;
    position: relative;
    width:absolute;
    justify-content: space-between;
    background-color: rgb(147, 189, 108);
}

ul{
    display: flex;
    margin: 23px;
    justify-content: space-between;
}
li{
    color: rgb(66, 218, 66);
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}
a{
    color: lightgreen;
    text-decoration: none;
}
ul a:hover{
    color: rgb(91, 122, 91);
}
.container{
    padding:0px 50px;
}
.center{
    text-align: center;
}
.texto{
line-height: 20px;
}
.rodape{
    background-color: rgb(203, 241, 211);
}
a{
    color: rgb(8, 8, 8);
}