* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	text-align: center;
	background: color #a7ffe2;
}
.wrapper {
	width: 1010px;
	margin: 0 auto;
}
header {  
	height: 100px;
	background: #556b2f;
	width: 100%;
	z-index: 10;
	position: fixed;
	display: flex;
	justify-content: space-between;

}
 header h3{
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	width: 30%;
	line-height: 100px;
	float: left;
	color:#6b8e23
	
    
}

nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color:#6b8e23
}
nav a:hover {
color:#228b22
}
.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 100px;
	background-image: url(./imagem/banner\ folhas.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h4 {
	padding-top: 2%;
	font-size: 30px;
	font-family: poppins;
	text-transform: uppercase;
	color: #f5f6f5;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #92e39a;
	height: 2100px;
}
.content-area h3 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	font-family: 'Courier New', Courier, monospace;
	line-height: 30px;
	color: black;


}
.texto{
text-align: left;

}
.container{
    padding:0px 50px;
}
.center{
    text-align: center;
}
footer{
    position: relative;
    width: 100%;
    background: #556b2f;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
footer .socials li{
    list-style: none;

}
footer .socials li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    transition: 0.5;
	align-items: center;

}
footer .socials li a:hover{
    transform: translateY(-10px);
	color: #228b22;
}
footer p{
    color:#6b8e23;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}